<div class="row">
    <div class="col s12 m4">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Users</span>
          <p>See a list of all the users on Fishing Hole</p>
        </div>
        <div class="card-action">
          <a href="/users">Users</a>
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Fishing Holes</span>
          <p>See all of the fishing holes on Fishing Hole</p>
        </div>
        <div class="card-action">
          <a href="/fishingHoles">Fishing Holes</a>
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Gear</span>
          <p>See a list of all the gear users have added on Fishing Hole</p>
        </div>
        <div class="card-action">
          <a href="/gear">Gear</a>
        </div>
      </div>
    </div>
  </div>