<!DOCTYPE html>
<html>

<head>
    <title>Fishing Hole</title>
    <!-- Static assets can go in here! -->
    <!-- <link rel="stylesheet" type="text/css" href="/css/styles.css"> -->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</head>

<body>
    <header class="site-header">
        <nav>
            <div class="nav-wrapper">

                <a class= 'brand-logo left' href="/">Fishing Hole</a>

                <ul class="right">
                    
                    <li> <a href="/users">Users</a> </li>
                    <li> <a href="/fishingHoles">Fishing Holes</a> </li>
                    <li> <a href="/gear">Gear</a> </li>

                </ul>

            </div>

        </nav>

    </header>
    {{{ body }}}
</body>

</html>