<div class="container">
  <h2 class="text-center">Add a Gear Kit</h2>
  <div class="col-4">
    <form action='/gears' method="POST">
      <div class="form-group">
        <label class="input-text" for="rod">Rod</label>
        <input class="form-control" type="text" name="rod" id="rod" placeholder="Type of Rod">
      </div>
      <div class="form-group">
        <label class="input-text" for="bait">Best Type of Bait</label>
        <input class="form-control" type="text" name="bait" id="bait"
          placeholder="What is Your Best Type of Bait">
      </div>
      <div class="form-group">
        <label class="input-text" for="lure">Best Type of Lure</label>
        <input class="form-control" type="text" name="lure" id="lure"
          placeholder="Best Type of Lure">
      </div>
      <div class="form-group">
        <label class="input-text" for="lineTest">Line Test Strength</label>
        <input class="form-control" type="text" name="lineTest" id="lineTest"
          placeholder="Best Line Test">
      </div>
      <input class="btn btn-info" type="submit" value="SUBMIT">
    </form>
  </div>
</div>